extends resource_session

block content
    script(src="../javascripts/image_deliver.js")
    div.container
        div.row
            div(class="col-xl-12 main")
                div.row
                    div.col-xl-6
                        h1 Content
                        img(src=content_image_preview class="image_select" alt="Unknown error")
                    div.col-xl-6
                        h1 Style
                        img(src=style_image_preview class="image_select" alt="Unknown error")
                br
                div.row
                    div.col-xl-1
                    div.col-xl-4
                        p.message Style weight: #{style_weight_select}
                    div.col-xl-2
                    div.col-xl-4
                        p.message Quality: #{quality_select}
                    div.col-xl-1
                br
                div.row
                    div.col-xl-12
                        h1 Result
                div(class="row" id="initialization")
                    div.col-xl-12
                        p.message Initializing...(large images might take longer to initialize)
                div.row
                    div.col-xl-2
                    div.col-xl-8
                        div(class="progress")
                            div(id="render_progress" class="progress-bar progress-bar-striped progress-bar-animated"
                                role="progressbar" aria-valuenow="0"
                                aria-valuemin="0" aria-valuemax="100"
                                style="width:0%") 0%
                    div.col-xl-2
                br

                div.row
                    div.col-xl-12
                        img(id="image_result" src="../images/deliver_page/result_loading.gif" class="image_select" alt="Unknown error")
                br
                div.row
                    div.col-xl-2
                    div.col-xl-4
                        input(type="button" onclick="window.open('/merge_image_page', '_self')" value="Make a new one🔙")
                    div.col-xl-4
                        a(href="" id="download_link" download="result[" + style_weight_select + "," + quality_select + "]")
                            input(id="download_button" type="button" value="Download⏬" disabled="true")
                    div.col-xl-2